* {
	margin:0;
	padding:0;
	border:none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


form {
	border-radius: 3px;
	background: #F0F8FF;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: auto;
	margin: 20vh auto;
	padding: 30px;
}

form > p{
	margin:15px auto;
	font-weight: 800;
	font-size: 25px;
}

label, input {
	width:100%;
}

label{
	margin-bottom: 10px;
	height:20px;
}

input{
	padding: 10px;
	margin-bottom: 20px;
	height: 34px;
	border-radius: 4px;
}

form button{
	cursor: pointer;
	font-weight: 400;
	border-radius: 3px;
	color:white;
	background: #007FFF;
	margin:30px auto;
	margin-bottom:0;
	height: 36px;
	width:90px;
}

.functionality-btn{
	cursor: pointer;
	font-weight: 400;
	border-radius: 3px;
	color:white;
	background: #007FFF;
	margin:30px 5px;
	margin-bottom:0;
	height: 30px;
	width:90px;
}

button:hover{
	background-color: black;
}
